<div class="row" style="margin-bottom: 1rem;">
  <div class="col-sm-12">
    <%= simple_form_for :scopes, url: request.path, method: :get, html: { class: 'datatable-scopes' } do |form| %>
      <div class="row" style="margin-bottom: 1rem;">
        <% datatable.scopes.each do |name, options| %>
          <div class="col-md-3">
            <% if options[:block].present? %>
              <%= form.instance_exec(form, &options[:block]) %>
            <% elsif options[:partial].present? %>
              <%= render partial: options[:partial], locals: { form: form, f: form, datatable: datatable } %>
            <% else %>
              <%= form.input name, options[:filter].merge(required: false) %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="row">
        <div class="col-md-3">
          <%= form.submit 'Submit', class: 'btn btn-primary', 'data-disable-with' => 'Submitting...' %>
        </div>
      </div>
      <%#= link_to 'Reset', '#', 'data-reset-form' => true %>
    <% end %>
  </div>
</div>

